body		{
	margin: 0;
	padding: 0;
	background-image: url("pics/AG_BG.svg");
	height: 900px;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.backlogo	{
	width: 380px;
	height: 161px;
	margin-top: 75px;
}

h1	{
	font-family: adonide-bold;
	text-decoration: none;
	font-size: 70px;
	color: white;
	text-shadow: 5px 5px 5px black;
	float: right;
	margin-top: 120px;
	margin-right: 50px;
}

h3	{
	margin-left: 93px;
	font-family: adonide-medium;
	text-decoration: none;
	color: white;
	text-shadow: 5px 5px 5px black;
}

a 	{
	font-family: adonide-regular;
	font-size: 24px;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin-left: 93px;
	line-height: 0.5;
	text-decoration: none;
}

.image 	{
	width: 300px;
	box-shadow: 5px 5px 5px black;
	border: 1px solid white;
	margin-left: 120px;
	margin-top: 120px;
}

.imagehorizontal	{
	width: 720px;
	box-shadow: 5px 5px 5px black;
	border: 1px solid white;
	margin-left: 120px;
	margin-bottom: 20px;
}

.imagehorizontal2	{
	width: 720px;
	box-shadow: 5px 5px 5px black;
	border: 1px solid white;
	margin-left: 120px;
	margin-bottom: -30px;
}

.meer 	{
	font-family: adonide-bold;
	text-decoration: none;
	font-size: 18px;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 75px;
}

.title1	{
	position: absolute;
	z-index: -1;
	margin-top: 70px;
}

.title2	{
	position: absolute;
	z-index: -1;
	margin-top: 20px;
}

.footer	{
	background-color: #800024;
	height: 200px;
	font-family: adonide-medium;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-shadow: 5px 5px 5px black;
	padding-left:100px;
}

.info li	{
	font-family: adonide-light;
	font-size: 16px;
	list-style-type: none;
}

.footernav	{
	font-family: adonide-light;
	font-size: 16px;
	list-style-type: none;
	padding-top: 96px;
	float: left;
	padding-left: 52px;
}

.footerhead	{
	float: left;
	padding-top: 20px;
}

.footerhead2	{
	float: left;
	padding-left: 250px;
	padding-top: 20px;
}

.footerimg1	{
	width: 40px;
	float: left;
}

.footerimg2	{
	width: 47px;
	margin-left: 5px;
	margin-top: -3px;
	float: right;
}

.footerimg3	{
	width: 120px;
	padding-top: 57px;
	padding-left: 105px;
}

.foothead 	{
	margin-left: 0px;
	padding-top: -30px;
}

a:hover	{
	color: #51E0FF;
}

.hover a:hover	{
	color: #51E0FF;
}

.hover	{
	font-size: 16px;
	font-family: adonide-light;
}

.finalnav	{
	font-family: adonide-light;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.titel 	{
	font-size: 24px;
}

.boven	{
	margin-left: 1350px;
	margin-top: 715px;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: fixed;
}

.boven p	{
	font-family: adonide-regular;
	color: white;
	text-align: center;
	font-size: 15px;
	margin-top: -7px;
	line-height: 1.5;
	text-decoration: none;
	padding-bottom: 5px;
}

.boventext	{

}